body {
    background: #000;
    font-family: Arial, Helvetica, sans-serif;
}

#containter {
    margin: 0 auto;
    width: 400px;
}

#board {
    transform: translateX(0px);
    margin: 10px auto;
    background: #000;
    opacity: 0.9;
    border: 2px solid #fff;
    width: 400px;
    height: 400px;

}

.score {
    font-size: 18px;
    color: #ff6347;
}

#character {
    height: 10px;
    width: 10px;
    position: relative;
    background: #ff6347;
    opacity: 1;
}

.chain {
    height: 10px;
    width: 10px;
    position: fixed;
    background-repeat: no-repeat;
}